@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    font-size: 3vmin;
    background-color: black;
    border: white solid;
    background-image: url(imgs/474-porygon-z-g.png);
    background-repeat:no-repeat;
    background-size:contain;
}

* {
    margin: 0;
    color: white;
    font-family: 'Orbitron';
    font-weight: normal;
}

#title {
    text-align: center;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 0vh;
    height: 35vh;
    grid-column-start: 1;
    position: relative;
}

main, header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#map-button {
    border: white solid;
    padding: 0;
    width: fit-content;
    height: fit-content;
}

#map-select {
    height: inherit;
}

#map-select:not(.invisible) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#map-button img {
    display: block;
    width: 25vmin;
    height: 25vmin;
}

footer {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#leaderboard {
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-around;
}

#leaderboard ul{
    list-style: none;
    font-size: 3.5vh;
}

#leaderboard ul li{
    padding-left: 1.5vw;
}

button {
    height: 14vh;
    font-size: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover, #Jogar:hover {
    font-size: 1.5rem;
    transition: font-size 0.15s;
}

.invisible {
    display: none;
}

*::selection {
    background-color: white;
    color: black;
  }

#battle {
    position: absolute;
    right: 0;
    top: 0;
    width: 85vw;
    height: inherit;
    overflow: hidden;
  }

@keyframes enemy{
    from{
        offset-distance: 0%;
    }
    to{
        offset-distance: 100%;
    }
}

#health, #money, #atk, #speed, #cost {
    font-size: 4.5vh;
    padding-left: 0.5vh;
}

#selection {
    position: relative;
    padding: 0;
    list-style: none;
    width: inherit;
    height: 55vh;
    border: white 0.15rem solid;
    border-left: 0;
    overflow-y:scroll;
    direction: rtl;
}

::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-thumb {
    background: white; 
    border-radius: 10px;
}

#selection img{
    width: inherit;
    height: inherit;
}

#selection li{
    margin: 3vh auto;
}

.selected, #selection li:hover{
    box-shadow: 0 0 1vmin 0.3vmin white;
}

#selection *{
    padding: 0;
    width: 10vmin;
    height: 10vmin;
}

#side{
    border-right: white solid;
    position: absolute;
    left: 0;
    top: 0;
    width: 15vw;
    height: inherit;
}

#side *{
    font-size: 1em;
}

#icon{
    width: 5vmin;
    height: 5vmin;
}

#upgrade{
    min-height: 6.5vmin;
    height: min-content;
    max-height: max-content;
    max-width: 15vw;
    width: fit-content;
    margin: 1vmin auto 2vmin;
}

#upgrade button{
    border-radius: 10%;
    padding: 0 1.5vw;
    text-align: center;
    background-color: white;
    max-width: inherit;
    overflow-wrap: break-word;
    color: black;
    min-height: inherit;
    height: inherit;
    max-height: inherit;
}

.turret{
    width: fit-content;
    height: fit-content;
}

#map {
    position: absolute;
    width: inherit;
    height: inherit;
}

#map-button:hover {
    transform: scale(0.9);
    transition: transform 0.15s;
}

#back-button{
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
}

.tema-claro-escuro{
    color: rgb(255, 255, 255);
}

#pory{
    background-image: url(imgs/ani_bw_137.gif);
    background-repeat:no-repeat;
    grid-column: 2;
    width: 8vw;
    height: 8vh;
    border: none;
    background-size: contain;
    position: absolute;
    top: -6vh;
    
}
#porygrid{
    display:grid;
    grid-template-columns: 70vw 9vw;
    position: relative;
}

#selector {
    position: absolute;
}

#selector img {
    width: 20px;
    height: 45px;
}

#selector img:hover {
    cursor: pointer;
}