@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    border: white solid;
}

* {
    margin: 0;
    color: white;
    font-family: 'Orbitron';
    font-weight: normal;
}

#title {
    text-align: center;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 0vh;
    height: 35vh;
}

main {
    font-size: 3.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}


#leaderboard {
    max-width: 100vw;
    flex-direction: row;
    justify-content: space-around;
}

#leaderboard ul{
    list-style: none;
    font-size: 3.5vh;
}

#leaderboard ul li{
    padding-left: 1.5vw;
}

button {
    height: 14vh;
    font-size: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:hover, #Jogar:hover {
    font-size: 1.1em;
    transition: font-size 0.15s;
}

.invisible {
    display: none;
}

*::selection {
    background-color: white;
    color: black;
  }

battle {
    display: block;
    width: inherit;
    height: inherit;
  }

@keyframes enemy{
    from{
        offset-distance: 0%;
    }
    to{
        offset-distance: 100%;
    }
}

#enemy {
    offset: auto;
    animation: enemy 10s alternate linear infinite;
}