@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

html, body{
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: black;
    border: white solid;
}

* {
    margin: 0;
    color: white;
    font-family: 'Orbitron';
    font-weight: normal;
}

#title {
    text-align: center;
    width: 80vw;
    margin-top: 10vh;
    margin-bottom: 0vh;
    height: 35vh;
}

main {
    font-size: 3.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    height: 14vh;
    font-size: inherit;
    border: none;
    background-color: inherit;
    cursor: pointer;
}

button a {
    text-decoration: none;
}

button a:hover, #Jogar:hover {
    font-size: 1.1em;
    transition: font-size 0.15s;
}

.invisible {
    display: none;
}

h1::selection, h2::selection, p::selection {
    background-color: white;
    color: black;
  }